In [2]:
import pandas as pd
import numpy as np

In [3]:
email = 'rvrnjn594@gmail.com'

In [8]:
email.split('@')

['rvrnjn594', 'gmail.com']

In [9]:
email.isdigit()

False

In [5]:
names = pd.Series(['ravi','chandan','vishal','kiran','5'])

In [7]:
names.str.upper()

0       RAVI
1    CHANDAN
2     VISHAL
3      KIRAN
4          5
dtype: object

In [12]:
names[names.str.isdigit()]

4    5
dtype: object

In [21]:
tech_finance = ['GOOG,AAPL,AMZN','JPM,BOA,GS,PWC']

In [22]:
len(tech_finance)

2

In [23]:
tickers = pd.Series(tech_finance)

In [24]:
tickers.str.split(',')

0     [GOOG, AAPL, AMZN]
1    [JPM, BOA, GS, PWC]
dtype: object

In [25]:
tickers.str.split(',')[0][1]

'AAPL'

In [26]:
tickers.str.split(',',expand=True)

      0     1     2     3
0  GOOG  AAPL  AMZN  None
1   JPM   BOA    GS   PWC

In [33]:
messy_name = pd.Series(['ravi ranjan  ','bo:bo','    claire  '])

In [34]:
messy_name

0    ravi ranjan
1            bo:bo
2         claire
dtype: object

In [38]:
messy_name.str.replace(':','').str.strip().str.title().str.replace(' ','')

0    RaviRanjan
1          Bobo
2        Claire
dtype: object

In [39]:
def clean_up(name):
    name = name.replace(':','')
    name = name.strip()
    name = name.title()
    name = name.replace(' ','')
    return name

In [40]:
messy_name.apply(clean_up)

0    RaviRanjan
1          Bobo
2        Claire
dtype: object