In [2]:
import pandas as pd
import numpy as np

from datetime import datetime

In [3]:
myyear = 2015
mymonth = 1
myday = 1
myhour = 2
mymin = 30
mysec = 15

In [4]:
mydate = datetime(myyear,mymonth,myday)

In [5]:
mydate

datetime.datetime(2015, 1, 1, 0, 0)

In [6]:
mydatetime = datetime(myyear,mymonth,myday,myhour,mymin,mysec)

In [7]:
mydatetime

datetime.datetime(2015, 1, 1, 2, 30, 15)

In [9]:
mydatetime.day

1

In [16]:
myser = pd.Series(['Nov 3, 1993','2000-01-01',None])

In [17]:
myser

0    Nov 3, 1993
1     2000-01-01
2           None
dtype: object

In [19]:
timeser = pd.to_datetime(myser)

In [20]:
timeser

0   1993-11-03
1   2000-01-01
2          NaT
dtype: datetime64[ns]

In [22]:
timeser[0].year

1993

In [23]:
obvi_euro_date = '31-12-2000'

In [24]:
pd.to_datetime(obvi_euro_date)

C:\Users\DELL\AppData\Local\Temp\ipykernel_16596\163700324.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.to_datetime(obvi_euro_date)

Timestamp('2000-12-31 00:00:00')

In [25]:
euro_date = '10-12-2000'

In [28]:
pd.to_datetime(euro_date)

Timestamp('2000-10-12 00:00:00')

In [29]:
pd.to_datetime(euro_date,dayfirst=True)

Timestamp('2000-12-10 00:00:00')

In [30]:
style_date = '12--Dec--2000'

In [31]:
pd.to_datetime(style_date,format='%d--%b--%Y')

Timestamp('2000-12-12 00:00:00')

In [32]:
cutom_date = '12th of Dec 2000'

In [33]:
pd.to_datetime(cutom_date)

Timestamp('2000-12-12 00:00:00')

In [39]:
sales = pd.read_csv('RetailSales_BeerWineLiquor.csv')

In [40]:
sales['DATE']

0      1992-01-01
1      1992-02-01
2      1992-03-01
3      1992-04-01
4      1992-05-01
          ...
335    2019-12-01
336    2020-01-01
337    2020-02-01
338    2020-03-01
339    2020-04-01
Name: DATE, Length: 340, dtype: object

In [41]:
sales['DATE'] = pd.to_datetime(sales['DATE'])

In [42]:
sales['DATE']

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [43]:
sales = pd.read_csv('RetailSales_BeerWineLiquor.csv',parse_dates=['DATE'])

In [45]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           340 non-null    datetime64[ns]
 1   MRTSSM4453USN  340 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 5.4 KB

In [46]:
sales = sales.set_index("DATE")

In [48]:
sales.resample(rule='A').mean()

            MRTSSM4453USN
DATE
1992-12-31    1807.250000
1993-12-31    1794.833333
1994-12-31    1841.750000
1995-12-31    1833.916667
1996-12-31    1929.750000
1997-12-31    2006.750000
1998-12-31    2115.166667
1999-12-31    2206.333333
2000-12-31    2375.583333
2001-12-31    2468.416667
2002-12-31    2491.166667
2003-12-31    2539.083333
2004-12-31    2682.416667
2005-12-31    2797.250000
2006-12-31    3001.333333
2007-12-31    3177.333333
2008-12-31    3292.000000
2009-12-31    3353.750000
2010-12-31    3450.083333
2011-12-31    3532.666667
2012-12-31    3697.083333
2013-12-31    3839.666667
2014-12-31    4023.833333
2015-12-31    4212.500000
2016-12-31    4434.416667
2017-12-31    4602.666667
2018-12-31    4830.666667
2019-12-31    4972.750000
2020-12-31    4922.500000

In [49]:
sales = pd.read_csv('RetailSales_BeerWineLiquor.csv',parse_dates=['DATE'])

In [52]:
sales['DATE'].dt.month

0       1
1       2
2       3
3       4
4       5
       ..
335    12
336     1
337     2
338     3
339     4
Name: DATE, Length: 340, dtype: int64